useDynLib("shc")

import("Matrix")

export(shc,
hsvmpath,
holderpath,
cv.shc,
cv.hsvmlassoNET,
cv.holderNET,
predict.shc,
coef.shc,
coef.hsvmlassoNET,
coef.holderNET
)

S3method("print","shc")
S3method("coef","shc")
S3method("plot","shc")
S3method("predict","shc")
S3method("coef","cv.shc")
S3method("plot","cv.shc")
S3method("predict","cv.shc")


